Akbar Abdurakhmonov </br> Assignment #5 </br> Polynomial regression and regularization

### 1 A

In [45]:
import pandas as pd

data = {
    'x1': [1, -1, 2, -2, 2],
    'x2': [10, -10, -10, 10, 1]
}

df = pd.DataFrame(data)
df

   x1  x2
0   1  10
1  -1 -10
2   2 -10
3  -2  10
4   2   1

### 1 B

### y = $a_{0}$ + $a_{1}$$x_{1}$ + $a_{2}$$x_{2}$ + $a_{3}$$x_{1}^{2}$ + $a_{4}$$x_{1}$$x_{2}$ + $a_{5}$$x_{2}^{2}$ + $a_{6}$$x_{1}^{3}$ + $a_{7}$$x_{1}^{2}$$x_{2}$ + $a_{8}$$x_{1}$$x_{2}^{2}$ + $a_{9}$$x_{2}^{3}$ + $a_{10}$$x_{1}^{4}$ + $a_{11}$$x_{1}^{3}$$x_{2}$ + $a_{12}$$x_{1}^{2}$$x_{2}^{2}$ + $a_{13}$$x_{1}$$x_{2}^{3}$ + $a_{14}$$x_{2}^{4}$

### 1 C

In [46]:
# Add polynomial feature combinations up to 4th order
df['(x1)^2'] = df['x1'] ** 2
df['(x2)^2'] = df['x2'] ** 2
df['(x1)^3'] = df['x1'] ** 3
df['(x2)^3'] = df['x2'] ** 3
df['(x1)^4'] = df['x1'] ** 4
df['(x1)^2 * (x2)'] = df['x1'] ** 2 * df['x2']
df['(x1) * (x2)^2'] = df['x1'] * df['x2'] ** 2
df['(x2)^2 * (x1)'] = df['x2'] ** 2 * df['x1']
df['(x1)^3 * (x2)'] = df['x1'] ** 3 * df['x2']
df['(x1) * (x2)^3'] = df['x1'] * df['x2'] ** 3

df

,x1,x2,(x1)^2,(x2)^2,(x1)^3,(x2)^3,(x1)^4,(x1)^2 * (x2),(x1) * (x2)^2,(x2)^2 * (x1),(x1)^3 * (x2),(x1) * (x2)^3
0,1,10,1,100,1,1000,1,10,100,100,10,1000
1,-1,-10,1,100,-1,-1000,1,-10,-100,-100,10,1000
2,2,-10,4,100,8,-1000,16,-40,200,200,-80,-2000
3,-2,10,4,100,-8,1000,16,40,-200,-200,-80,-2000
4,2,1,4,1,8,1,16,4,2,2,8,2

### 2 A

In [56]:
data2 = {
    'x': [1, 2, 3, 4, 5],
    'y': [2, 2.5, 6, 14.5, 34]
}

df2 = pd.DataFrame(data2)

df2

   x     y
0  1   2.0
1  2   2.5
2  3   6.0
3  4  14.5
4  5  34.0

### 2 B

In [57]:
def predict(x):
    return 2 * x ** 2 - 5 * x + 4
df2['y_pred'] = predict(df2['x'])

df2

   x     y  y_pred
0  1   2.0       1
1  2   2.5       2
2  3   6.0       7
3  4  14.5      16
4  5  34.0      29

### 2 C

In [58]:
mae = (df2['y'] - df2['y_pred']).abs().mean()

print(f'MAE: {mae}')

MAE: 1.8

### 2 D

In [59]:
l = 0.
lasso_error = mae + l * df2['y_pred'].abs().sum()

print(f'Lasso error: {lasso_error}')

Lasso error: 1.8

### 2 E

In [60]:
ridge_error = mae + l * (df2['y_pred'] ** 2).sum()

print(f'Ridge error: {ridge_error}')

Ridge error: 1.8